<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= title %></h1>
    <p>Цілі: <ul>
        <% for(let goal of goals) {%>
          <li>
            <%= goal %>
          </li>
          <%} %>
      </ul>
    </p>
  </body>
</html>
