<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/users/data" method="get">
      <label>
        Name 1
        <input type="text" name="userName" />
      </label>
      <label>
        Name 2
        <input type="text" name="userName" />
      </label>
      <label>
        Name 3
        <input type="text" name="userName" />
      </label>
      <label>
        Age
        <input type="number" name="userAge" />
      </label>
      <button>Зберегти</button>
    </form>
  </body>
</html>
